<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
<title>Insert title here</title>
</head>
<body>

	<a class="btn btn-primary" th:href="@{/admin/categorie/create}">Crea nuova categoria</a>

	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">id</th>
	      <th scope="col">nome</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr th:each="categoria  : ${categorie}">
	      <th scope="row" th:text="${categoria.id}"></th>
	      <td th:text="${categoria.nome}"></td>
	    	<td>
	      		<a class="btn btn-primary" th:href="@{/admin/categorie/update/{id}(id=${categoria.id})}">update</a>
	    	</td>
	    	<td>
	      		<a class="btn btn-danger" th:href="@{/admin/categorie/delete/{id}(id=${categoria.id})}">delete</a>
	    	</td>
	    </tr>
	  </tbody>
	</table>

</body>
</html>